/****Header****/
.position-relative {
  width: 100%;
  background-color: #183466;
  text-align: center;
  border-radius: 0px 0px 30px 30px;
  top: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-logo {
  width: 30%;
  height: auto;
  /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
}

.position-fixed {
  top: 0;
  z-index: 11;
  left: 0px;
  margin-top: 16px;
  margin-left: 20px;
  position: absolute;
  color: white;
  font-size: 20px;
}

/**** End Header****/

/****Footer****/
.footer {
  width: inherit;
  max-width: inherit;
  margin: 0 auto;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

/**** End Footer****/

/**** info start****/
.info-main-container {
  margin: 5px;
  background: white;
  border-radius: 10px;
  padding: 10px;
}

.info-box {
  display: flex;
}

.info-title {
  font-size: 14px;
  font-weight: bold;
}

.info-text {
  margin-left: 10px;
}

.position-absolute {
  position: absolute;
  background-color: #98d3e7;
  background-image: url(https://dwzg9hxy3ldn9.cloudfront.net/mt5/assets/Group+22503.png);
  width: 100%;
  top: 0;
  left: 0;
  padding: 25px 10px 10px 10px;
  background-repeat: no-repeat;
  background-size: cover;
  height: 22vh;
}

.promotion {
  max-height: 100%;
  height: 34vh;
  background-size: cover;
  background-position-y: 5%;
  margin: -12px auto;
  width: 65%;
  object-fit: cover;
}

.header-logo {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 50px;
}

.store-logo {
  position: absolute;
  top: 20px;
  right: 10px;
  width: 65px;
}

.header-grid-row {
  display: grid;
  grid-template-rows: auto auto;
}

.loading-bg {
  background-color: #d4f4ff;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 15%;
}

.loading-grid {
  display: grid;
  grid-template-columns: 45% 50%;
  width: 100%;
}

.btn-minus,
.btn-plus,
.number-box {
  color: black;
  background-color: transparent;
  border: none;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: right;
}

.btn-minus,
.btn-plus {
  border-radius: 50%;
  background-color: #279ad4;
  color: white;
  width: 1.25rem;
  height: 1.25rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/**** End Info****/
